<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-transport-security" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>App Transport Security</name>
    <author>Lee Crossley (http://ilee.co.uk/)</author>
    <description>Cordova / PhoneGap Plugin to allow 'Arbitrary Loads' by adding
        a declaration to the Info.plist file to bypass the iOS 9 App Transport Security</description>
    <keywords>cordova, ios, app, security, transport, http, https, ats,
        ssl, tls, nsapptransportsecurity, nsallowsarbitraryloads</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <platform name="ios">
      <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
          <dict>
              <key>NSAllowsArbitraryLoads</key>
              <false/>
              <key>NSExceptionDomains</key>
              <dict>
                  <key>facebook.com</key>
                  <dict>
                      <key>NSIncludesSubdomains</key>
                      <true/>
                      <key>NSExceptionRequiresForwardSecrecy</key>
                      <false/>
                  </dict>
                  <key>fbcdn.net</key>
                  <dict>
                      <key>NSIncludesSubdomains</key>
                      <true/>
                      <key>NSExceptionRequiresForwardSecrecy</key>
                      <false/>
                  </dict>
                  <key>akamaihd.net</key>
                  <dict>
                      <key>NSIncludesSubdomains</key>
                      <true/>
                      <key>NSExceptionRequiresForwardSecrecy</key>
                      <false/>
                  </dict>
                  <key>localhost</key>
                  <dict>
                      <key>NSIncludesSubdomains</key>
                      <true/>
                      <key>NSExceptionRequiresForwardSecrecy</key>
                      <false/>
                  </dict>
                  <key>dev-uk03.idasnetwork.com</key>
                  <dict>
                      <key>NSIncludesSubdomains</key>
                      <true/>
                      <key>NSExceptionRequiresForwardSecrecy</key>
                      <false/>
                  </dict>
                  <key>udp01-aws.idasnetwork.com</key>
                  <dict>
                      <key>NSIncludesSubdomains</key>
                      <true/>
                      <key>NSExceptionRequiresForwardSecrecy</key>
                      <false/>
                  </dict>
              </dict>
          </dict>
      </config-file>
      <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
          <array>
              <string>fbauth</string>
          </array>
      </config-file>
    </platform>
</plugin>
